*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background: #EEF1F6;
  color: #1D2739;
}
#header{
  padding: 10px 5%;
}
.about-me {
  padding: 10px 5%;
}
nav a{
  color: #496591;
  font-size: 18px;
}
